{% extends "base.html" %}
{% block title %}shorty{% endblock title %}

{% block content %}
    <body style="background-color:#001f3f;">
    <div class="container">
        <h1 class="display-1"><center><font size=50 color="white">500</font></center></h1>
        <h1><center><font size=50 color="white">Internal Server Error</font></center></h1>
        <h1><center><font size=50 color="white">It seems we were not prepared to do what you requested us to do</font></center></h1>
        <h1><center><font size=50 color="white">while we work on it, you may </font></center></h1>
        <p><center><font size=40 color="red"><a href="https://ambig.one">Go Home</a></font></center></p>
    </div>
    </body>
{% endblock content %}