{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}shorty{% endblock title %}
{% comment %} .button-background {background-color:#000000;} {% endcomment %}
{% block content %}
    <div class="container mx-auto text-center">
        <br><br><br>
        <h1 style=font-size:70px;>URL Shortener</h1>
        <br>
        <form>
            <div class="form-group">
            {{ form | crispy  }}
            </div>
            <button type="submit" class="btn btn-primary">Shorten It</button>
        </form>
    </div>
{% endblock content %}

