{% extends "base.html" %}
{% block title %}shorty{% endblock title %}

{% block content %}
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded text-center" style="max-width: 40rem;">
    <form>
        <div class="form-group">
            <label for="address">Enter url</label>
            <input type="url" class="form-control" id="url" placeholder="Enter address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
{% endblock content %}

